---
import Section from "./Section.astro";
---

<section class="bg-primary pt-8 pb-12">
  <div class="cust-container">
    <div class="lg:grid lg:grid-cols-5">
      <div class="lg:col-span-2 pr-8">
        <h3 class="text-4xl font-semibold text-white pb-3 w-full">Logis</h3>
        <p class="text-white text-sm w-full">Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
      </div>
      <div class="lg:col-span-3 lg:grid lg:grid-cols-3">
        <div class="py-3">
          <h4 class="font-bold text-white mb-2 pb-3">Useful Links</h4>
          <ul>
            <li class="py-2 text-smoke text-sm"><a href="">Home</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">About Us</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Services</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Term of service</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Privacy policy</a></li>
          </ul>
        </div>

        <div class="py-3">
          <h4 class="font-bold text-white mb-2 pb-3">Useful Links</h4>
          <ul>
            <li class="py-2 text-smoke text-sm"><a href="">Web Design</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Web Development</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Software services</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Graphic Design</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Marketing</a></li>
          </ul>
        </div>

        <div class="py-3">
          <h4 class="font-bold text-white mb-2 pb-3">Useful Links</h4>
          <ul>
            <li class="py-2 text-smoke text-sm"><a href="">A108 Adam Street</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">New York, NY 535022</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">United States</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Term of service</a></li>
            <li class="py-2 text-smoke text-sm"><a href="">Privacy policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center text-white">
      <p class="pt-8 text-sm">
        &copy; Copyright
        <strong>
            <span>Logis.</span>
        </strong>
        All Rights Reserved
      </p>
      <p class="text-white text-sm pt-2">
        Designed by <a href="#" class="">Francis</a>
    </p>
    </div>
  </div>
</section>