<header class="w-full fixed py-4 bg-primary z-10">
  <div class="cust-container">
    <div class="flex justify-between items-center">
      <a href="/">
        <h3 class="text-3xl text-white font-semibold">Logis</h3>
      </a>
      <nav>
        <ul class="hidden z-[999] lg:flex lg:gap-x-8 md:gap-x-5 text-white">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <div id="side-nav-btn" class="lg:hidden">
        <i class="fa-solid fa-bars font-xl text-white"></i>
      </div>
    </div>
  </div>
</header>
<div
  id="side-nav"
  class="fixed w-0 right-0 h-full sm:w-[400px] lg:hidden sm:-right-[400px] bg-primary bg-opacity-90 z-[20] transition-all duration-300"
>
  <div id="close-side-nav-btn" class="py-5 px-5">
    <i class="fa-solid fa-arrow-right text-3xl text-white"></i>
  </div>
  <ol>
    <li class="py-5 px-5 text-white font-semibold side-nav-link">
      <a href="/">Home</a>
    </li>
    <li class="py-5 px-5 text-white font-semibold side-nav-link">
      <a href="/about">About</a>
    </li>
    <li class="py-5 px-5 text-white font-semibold side-nav-link">
      <a href="/services">Services</a>
    </li>
    <li class="py-5 px-5 text-white font-semibold side-nav-link">
      <a href="/pricing">Pricing</a>
    </li>
    <li class="py-5 px-5 text-white font-semibold side-nav-link">
      <a href="/contact">Contact</a>
    </li>
  </ol>
</div>

<script is:inline>
  const side_nav_btn = document.getElementById('side-nav-btn')
  const side_nav = document.getElementById('side-nav')
  const close_side_nav_btn = document.getElementById('close-side-nav-btn')
  const side_nav_links = document.querySelectorAll('.side-nav-link')

  side_nav_btn.addEventListener('click', () => {
    console.log('agsags')
    side_nav.classList.remove('sm:-right-[400px]', 'w-0')
    side_nav.classList.add('w-full')
  })

  const closeSideNav = () => {
    side_nav.classList.remove('w-full')
    side_nav.classList.add('w-0', 'sm:-right-[400px]')
  }
  close_side_nav_btn.addEventListener('click', () => {
    closeSideNav()
  })

  // side_nav_links.forEach((link) => {
  //   link.addEventListener('click', () => {
  //     closeSideNav()
  //   })
  // })
</script>
