<div class="text-center mb-6 w-full">
  <h2
    class="text-4xl font-bold w-fit text-primary mx-auto after:block after:h-[3px] after:w-12 after:bg-primary after:mx-auto after:mt-4 uppercase"
  >
    <slot />
  </h2>
</div>
