---
import Section from '../layoutComponents/Section.astro'
import { Icon } from 'astro-icon/components'
---

<Section className="">
  <div class="lg:grid lg:grid-cols-2">
    <article class="leading-5 pr-8">
      <h3 class="text-3xl text-primary font-bold mb-5">About Us</h3>
      <p class="text-smoke mb-7">
        Dolor iure expedita id fuga asperiores qui sunt consequatur minima.
        Quidem voluptas deleniti. Sit quia molestiae quia quas qui magnam itaque
        veritatis dolores. Corrupti totam ut eius incidunt reiciendis veritatis
        asperiores placeat.
      </p>
      <ul>
        <li class="mb-10">
          <div class="flex justify-evenly">
            <Icon name="mdi:cart" class="text-primary text-4xl w-fit pr-3" />
            <div class="leading-4">
              <h5 class="mb-3 text-2xl font-bold text-gray-700">
                Lorem ipsum dolor sit amet.
              </h5>
              <p class="text-smoke">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
                dolore. Lorem ipsum dolor sit amet.
              </p>
            </div>
          </div>
        </li>
        <li class="mb-10">
          <div class="flex justify-evenly">
            <Icon name="mdi:cart" class="text-primary text-4xl w-fit pr-3" />
            <div class="leading-4">
              <h5 class="mb-3 text-2xl font-bold text-gray-700">
                Lorem ipsum dolor sit amet.
              </h5>
              <p class="text-smoke">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
                dolore. Lorem ipsum dolor sit amet.
              </p>
            </div>
          </div>
        </li>
        <li class="mb-10">
          <div class="flex justify-evenly">
            <Icon name="mdi:cart" class="text-primary text-4xl w-fit pr-3" />
            <div class="leading-4">
              <h5 class="mb-3 text-2xl font-bold text-gray-700">
                Lorem ipsum dolor sit amet.
              </h5>
              <p class="text-smoke">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
                dolore. Lorem ipsum dolor sit amet.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </article>
    <div class="mt-14 lg:mt-0">
      <img src="/images/trucking-service.jpg" alt="" class="rounded-lg" />
    </div>
  </div>
</Section>
