---
import Section from "../layoutComponents/Section.astro";
---

<Section>
  <article class="lg:flex">
    <div class="lg:w-[45%] lg:px-3">
      <img src="/images/features-1.jpg" alt="" class="w-full">
    </div>
    <div class="lg:w-[55%] lg:pl-5 py-5">
      <h3 class="text-primary text-[26px] font-semibold mb-2">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
      <p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <ul>
        <li class="flex"> <span><i class="fa-solid fa-check"></i></span> <p class="pl-3 pb-4 text-sm text-smoke">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
        <li class="flex"> <span><i class="fa-solid fa-check"></i></span> <p class="pl-3 pb-4 text-sm text-smoke">Ullamco laboris nisi ut aliquip ex ea commodo consequat. consectetur adipiscing elit, sed do eiusmod tempor i</p></li>
        <li class="flex"> <span><i class="fa-solid fa-check"></i></span> <p class="pl-3 pb-4 text-sm text-smoke">Ullamco laboris nisi ut aliquip ex ea commodo consequat aboris nisi ut.</p></li>
      </ul>
    </div>
  </article>

  <article class="lg:flex mb-5 lg:mb-0 lg:pt-28">
    <div class="lg:w-[55%] lg:pr-5 py-5">
      <h3 class="text-primary text-[26px] font-semibold mb-2">Corporis temporibus maiores provident</h3>
      <p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae quos est hic suscipit illum consequuntur? Nesciunt quaerat accusantium vitae delectus voluptatum accusamus consequatur blanditiis exercitationem provident beatae numquam eius temporibus quo maxime odio a deserunt.</p>
    </div>
    <div class="lg:w-[45%] lg:px-3">
      <img src="/images/features-2.jpg" alt="" class="w-full">
    </div>
  </article>

  <article class="lg:flex lg:pt-28">
    <div class="lg:w-[45%] lg:px-3">
      <img src="/images/features-3.jpg" alt="" class="w-full">
    </div>
    <div class="lg:w-[55%] lg:pl-5 py-5">
      <h3 class="text-primary text-[26px] font-semibold mb-2">Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
      <p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <ul>
        <li class="flex"> <span><i class="fa-solid fa-check"></i></span> <p class="pl-3 pb-4 text-sm text-smoke">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
        <li class="flex"> <span><i class="fa-solid fa-check"></i></span> <p class="pl-3 pb-4 text-sm text-smoke">Ullamco laboris nisi ut aliquip ex ea commodo consequat. consectetur adipiscing elit, sed do eiusmod tempor i</p></li>
        <li class="flex"> <span><i class="fa-solid fa-check"></i></span> <p class="pl-3 pb-4 text-sm text-smoke">Ullamco laboris nisi ut aliquip ex ea commodo consequat aboris nisi ut.</p></li>
      </ul>
    </div>
  </article>

  <article class="lg:flex lg:pt-28">
    <div class="lg:w-[55%] lg:pr-5 py-5">
      <h3 class="text-primary text-[26px] font-semibold mb-2">Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
      <p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae quos est hic suscipit illum consequuntur? Nesciunt quaerat accusantium vitae delectus voluptatum accusamus consequatur blanditiis exercitationem provident beatae numquam eius temporibus quo maxime odio a deserunt.</p>
    </div>
    <div class="lg:w-[45%] lg:px-3">
      <img src="/images/features-4.jpg" alt="" class="w-full">
    </div>
  </article>
</Section>

