---
import Section from '../layoutComponents/Section.astro'
import { Icon } from 'astro-icon/components'
---

<Section>
  <div class="lg:grid lg:grid-cols-3 lg:gap-x-8 py-8">
    <div class="flex py-5 lg:py-0">
      <div class="pr-3">
        <i class="fa-solid fa-cart-flatbed text-4xl text-primary"></i>
      </div>
      <div class="leading-5 lg:pl-4">
        <h4 class="mb-3 text-2xl font-bold text-gray-700">Lorem ipsum.</h4>
        <p class="mb-3 text-smoke text-sm leading-6">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          animi aut nobis voluptatibus sint. Veritatis. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Similique, eos.
        </p>
        <a href="/services">
          <span>Learn More</span>
        </a>
      </div>
    </div>
    <div class="flex py-5 lg:py-0">
      <div class="pr-3">
        <i class="fa-solid fa-truck text-4xl text-primary"></i>
      </div>
      <div class="leading-5 lg:pl-4">
        <h4 class="mb-3 text-2xl font-bold text-gray-700">Lorem ipsum.</h4>
        <p class="mb-3 text-smoke text-sm leading-6">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          animi aut nobis voluptatibus sint. Veritatis. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Similique, eos.
        </p>
        <a href="/services">
          <span>Learn More</span>
        </a>
      </div>
    </div>
    <div class="flex py-5 lg:py-0">
      <div class="pr-3">
        <i class="fa-solid fa-truck-ramp-box text-4xl text-primary"></i>
      </div>
      <div class="leading-5 lg:pl-4">
        <h4 class="mb-3 text-2xl font-bold text-gray-700">Lorem ipsum.</h4>
        <p class="mb-3 text-smoke text-sm leading-6">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          animi aut nobis voluptatibus sint. Veritatis. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Similique, eos.
        </p>
        <a href="/services">
          <span>Learn More</span>
        </a>
      </div>
    </div>
  </div>
</Section>
