---
import Section from "../layoutComponents/Section.astro";
import SectionHeader from "../layoutComponents/sectionHeader.astro";
---

<Section>
    <SectionHeader>
        Services
    </SectionHeader>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3">
        <div class="p-3">
            <div class="leading-5 border border-gray-200">
                <div class="mb-2">
                    <img src="/images/storage-service.jpg" alt="" class="w-full">
                </div>
                <div class="p-5">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        <a href="/services">Storage</a>
                    </h3>
                    <p class="text-gray-600 text-sm leading-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At libero facere voluptatibus deserunt soluta quod! Impedit laborum ipsum quas neque quisquam tempore error aut dolore.</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="leading-5 border border-gray-200">
                <div class="mb-2">
                    <img src="/images/logistics-service.jpg" alt="" class="w-full">
                </div>
                <div class="p-5">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        <a href="/services">Logistics</a>
                    </h3>
                    <p class="text-gray-600 text-sm leading-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At libero facere voluptatibus deserunt soluta quod! Impedit laborum ipsum quas neque quisquam tempore error aut dolore.</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="leading-5 border border-gray-200">
                <div class="mb-2">
                    <img src="/images/cargo-service.jpg" alt="" class="w-full">
                </div>
                <div class="p-5">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        <a href="/services">Cargo</a>
                    </h3>
                    <p class="text-gray-600 text-sm leading-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At libero facere voluptatibus deserunt soluta quod! Impedit laborum ipsum quas neque quisquam tempore error aut dolore.</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="leading-5 border border-gray-200">
                <div class="mb-2">
                    <img src="/images/trucking-service.jpg" alt="" class="w-full">
                </div>
                <div class="p-5">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        <a href="/services">Trucking</a>
                    </h3>
                    <p class="text-gray-600 text-sm leading-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At libero facere voluptatibus deserunt soluta quod! Impedit laborum ipsum quas neque quisquam tempore error aut dolore.</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="leading-5 border border-gray-200">
                <div class="mb-2">
                    <img src="/images/packaging-service.jpg" alt="" class="w-full">
                </div>
                <div class="p-5">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        <a href="/services">Packaging</a>
                    </h3>
                    <p class="text-gray-600 text-sm leading-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At libero facere voluptatibus deserunt soluta quod! Impedit laborum ipsum quas neque quisquam tempore error aut dolore.</p>
                </div>
            </div>
        </div>
        <div class="p-3">
            <div class="leading-5 border border-gray-200">
                <div class="mb-2">
                    <img src="/images/warehousing-service.jpg" alt="" class="w-full">
                </div>
                <div class="p-5">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        <a href="/services">Warehousing</a>
                    </h3>
                    <p class="text-gray-600 text-sm leading-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At libero facere voluptatibus deserunt soluta quod! Impedit laborum ipsum quas neque quisquam tempore error aut dolore.</p>
                </div>
            </div>
        </div>
    </div>
</Section>