---
import Section from "../layoutComponents/Section.astro";
import SectionHeader from "../layoutComponents/sectionHeader.astro";
---

<Section>
  <SectionHeader>
    Frequently Asked Questions
  </SectionHeader>
  
</Section>