---
import Section from '../layoutComponents/Section.astro'
import SectionHeader from '../layoutComponents/sectionHeader.astro'

import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

const servicesBlog: CollectionEntry<'services'>[] = (
    await getCollection('services')
).sort((a, b) => b.data.pubdate.valueOf() - a.data.pubdate.valueOf())
---

<Section>
    <SectionHeader> Our Services </SectionHeader>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-3">
        {
            servicesBlog.map((service) => (
                <div class="p-3">
                    <div class="leading-5 border border-gray-200">
                        <div class="mb-2">
                            <img src={service.data.img} alt="" class="w-full" />
                        </div>
                        <a href={`/services/${service.slug}`}>
                            <div class="p-5">
                                <h3 class="text-xl font-bold text-primary mb-2">
                                    {service.data.title}
                                </h3>
                                <p class="text-gray-600 text-sm leading-6">
                                    {service.data.supporting_text}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            ))
        }
    </div>
</Section>
