---
import Section from '../layoutComponents/Section.astro'
import SectionHeader from '../layoutComponents/sectionHeader.astro'
---

<Section>
  <SectionHeader> Our Team </SectionHeader>
  <div class="lg:grid lg:grid-cols-3 lg:gap-4 mt-14">
    <div class="px-1">
      <div class="border border-gray-300">
        <img src="/images/team/team-1.jpg" alt="" class="w-full" />
        <div class="p-7 text-center">
          <h4 class="text-xl font-bold text-primary">Walter White</h4>
          <small class="italic text-smoke">Web Developer</small>
          <p class="text-sm text-smoke italic pt-3">
            Magni qui quod omnis unde et eos fuga et exercitationem. Odio
            veritatis perspiciatis quaerat qui aut aut aut
          </p>
        </div>
      </div>
    </div>

    <div class="px-1">
      <div class="border border-gray-300">
        <img src="/images/team/team-2.jpg" alt="" class="w-full" />
        <div class="p-7 text-center">
          <h4 class="text-xl font-bold text-primary">Sarah Johnson</h4>
          <small class="italic text-smoke">Marketing</small>
          <p class="text-sm text-smoke italic pt-3">
            Magni qui quod omnis unde et eos fuga et exercitationem. Odio
            veritatis perspiciatis quaerat qui aut aut aut
          </p>
        </div>
      </div>
    </div>

    <div class="px-1">
      <div class="border border-gray-300">
        <img src="/images/team/team-3.jpg" alt="" class="w-full" />
        <div class="p-7 text-center">
          <h4 class="text-xl font-bold text-primary">William Anderson</h4>
          <small class="italic text-smoke">Manager</small>
          <p class="text-sm text-smoke italic pt-3">
            Magni qui quod omnis unde et eos fuga et exercitationem. Odio
            veritatis perspiciatis quaerat qui aut aut aut
          </p>
        </div>
      </div>
    </div>
  </div>
</Section>
