---
import Layout from './layout.astro'
import Navbar from '../components/layoutComponents/Navbar.astro'
import Footer from '../components/layoutComponents/Footer.astro'
import MainHero from '../components/layoutComponents/MainHero.astro'
---

<Layout>
  <Navbar />
  <MainHero />
  <main>
    <slot />
  </main>
  <Footer />
</Layout>
